---
version: "3"

services:
  dragonfly:
    image: 'docker.dragonflydb.io/dragonflydb/dragonfly'
    ulimits:
      memlock: -1
    ports:
      - "6379:6379"
    volumes:
      - primary_hhd_dozens:/data

  db:
    image: postgres:latest
    container_name: app_database_dozens
    restart: unless-stopped
    networks:
      - dozens-ecosystem
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_
    ports:
      - '3002:5432'
    working_dir: /data/db
    volumes:
      - 'primary_hhd_dozens:/data/db'
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 10s
      timeout: 3s
      retries: 3



volumes:
  primary_hhd_dozens:


networks:
  dozens-ecosystem:
    driver: bridge
