{% load static %}
<!--Start History Modals-->
<!-- History: Overview -->
<!--suppress ALL -->
<div id="getting-started-modal" class="uk-modal-dialog" uk-modal>
  <!--suppress HtmlUnknownAttribute -->
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">The Dozens</h2>
    <hr />
    <p class="history-modal-sub-title"><em>An Overview</em></p>
  </div>
  <div class="uk-modal-body">
    <p id="ease-of-use-text">
      Our Yo Mama Jokes API is designed with developers in mind, offering an intuitive and straightforward interface. With well-documented endpoints and clear error messages, you'll be able to integrate our API into your applications seamlessly. Whether you're new to API consumption or a seasoned developer, you'll find our endpoints easy to navigate and implement.
    </p>
  
    <p id="request-capability-text">
      You can make simple HTTP requests to retrieve jokes, with filters for categories and content preferences. Rate limiting ensures the API remains responsive, allowing you to focus on delivering a great user experience without worrying about backend performance.
    </p>
  
    <h2 id="example-request-header">Example HTTP Request (Insult Endpoint)</h2>
  
    <h3>Endpoint:</h3>
    <p><code>POST /insult/</code></p>
  
    <h3>Headers:</h3>
    <pre>
      <code>
  Content-Type: application/json
  Authorization: Token <your_api_key_here>
      </code>
    </pre>
  
    <h3>Request Body <sub>(Optional):</sub></h3>:
    <pre>
      <code>
  {
    "category": "P",
    "nsfw": false
  }
      </code>
    </pre>
  
    <h3>Response:</h3>
    <pre>
      <code>
  {
    "id": 123,
    "category": "poor",
    "joke": "Yo mama is so poor, she can't even afford to pay attention.,
    "nsfw": false
  }
      </code>
    </pre>
  
    <p id="additional-notes-text">
      In this example, you can specify the joke category and whether nsfw content is allowed. If no filters are provided, a random joke will be returned.
    </p>
  </div>
  <div class="uk-modal-footer uk-text-center">
    <button class="btn btn-info nav-bttn uk-modal-close" type="button">Exit</button>
    <!--suppress HtmlUnknownAttribute -->
    <a href="{% url 'swagger' %}" class="btn nav-bttn btn-success" uk-toggle>Check Out More In Swagger </a>
    <!--suppress HtmlUnknownAttribute -->
    <a href="https://www.postman.com/terryabrooksjr/the-roast-api-yo-mama-jokes/overview" class="btn nav-bttn btn-success" uk-toggle>Check Out More In Postman </a>
  </div>
</div>
