{% load static %}
<!--Start History Modals-->
<!-- History: Overview -->
<!--suppress HtmlUnknownAttribute -->
<div id="history-overview-modal" uk-modal>
<div class="uk-modal-dialog">
  <!--suppress HtmlUnknownAttribute -->
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">The Dozens</h2>
    <hr />
    <p class="history-modal-sub-title"><em>An Overview</em></p>
  </div>
  <div class="uk-modal-body">
    <p><em>The Dozens</em> is a game played between two contestants in which the participants insult each other
      until one of them gives up. Common in African-American communities, the Dozens is almost exclusively played in
      front of an audience, who encourage the participants to reply with increasingly severe insults in order to
      heighten the tension and consequently make the contest more interesting to watch.</p>

    <p>Comments in the game may focus on the opposite player's intelligence, appearance, competency, social status,
      and financial situation. Disparaging remarks about the other player's family members are common, especially
      regarding their mother.[1] Commentary is often related to sexual issues, and this version of the game is
      referred to as the "Dirty Dozens".[2]</p>

    <p> According to sociologist Harry Lefever and journalist John Leland, the game is played almost entirely by
      African-Americans; other ethnic groups often fail to understand how to play the game and can take remarks in
      the Dozens seriously.[note 1] Its popularity is higher among low-income and urban communities, but it is also
      found in middle-class and rural settings. Both men and women participate, but the game is more commonly played
      among men</p>
  </div>
  <div class="uk-modal-footer uk-text-center">
    <button class="btn btn-info nav-bttn uk-modal-close" type="button">Exit</button>
    <!--suppress HtmlUnknownAttribute -->
    <a href="#history-origins-modal" class="btn nav-bttn btn-success" uk-toggle>Origins <i
        class="fa-solid fa-forward"></i></a>
  </div>
</div>
</div>

<!--suppress HtmlUnknownAttribute -->
<div id="history-origins-modal" uk-modal>
<div class="uk-modal-dialog">
  <!--suppress HtmlUnknownAttribute -->
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">Origins</h2>
  </div>
  <div class="uk-modal-body">
    <p>The first academic treatment of the Dozens was made in 1939 by Yale-based psychologist and social theorist
      John Dollard, who described the importance of the game among African-American men, and how it is generally
      played. Dollard's description is considered pioneering and accurate.[7] Dollard originally wrote that he was
      unaware of how the term "Dozens" developed, although he suggested a popular twelve-part rhyme may have been
      the reason for its name. He only speculated on how the game itself grew to such prominence.</p>

    <p>Other authors following Dollard have added their theories. Author John Leland describes an etymology, writing
      that the term is a modern survival of an English verb—<em>"to dozen"</em>—dating back at least to the
      fourteenth century and meaning <em>"to stun, stupefy, daze" </em>or <em>"to make insensible, torpid,
        powerless"</em>.[8]</p>

    <p>Amuzie Chimezie, writing in the Journal of Black Studies in 1976, connects the Dozens to a Nigerian game
      called Ikocha Nkocha, literally translated as "making disparaging remarks". This form of the game is played by
      children and adolescents, and takes place in the evening, in the presence of parents and siblings. Commentary
      among the Igbo is more restrained: remarks about family members are rare, and are based more in fanciful
      imaginings than participants' actual traits. In contrast, during the game in Ghana, which is also commonly
      played in the evenings, insults are frequently directed at family members.[2]</p>

    <p>Amiri Baraka independently concluded that the Dozens originated in Africa and states that they are a
      surviving adaptation of "African songs of recrimination."[9]</p>
  </div>
  <div class="uk-modal-footer uk-text-center">
    <!--suppress HtmlUnknownAttribute -->
    <a href="#history-overview-modal" class="btn nav-bttn btn-danger" uk-toggle>Overview</a>
    <button class="btn btn-info nav-bttn uk-modal-close" type="button">Exit</button>
    <!--suppress HtmlUnknownAttribute -->
    <a href="#history-practice-modal" class="btn  nav-bttn btn-success" uk-toggle>Practice & Purpose </a>
  </div>
</div>
</div>

<!--suppress HtmlUnknownAttribute -->
<div id="history-practice-modal" uk-modal>
<div class="uk-modal-dialog">
  <!--suppress HtmlUnknownAttribute -->
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">Purpose & Practice</h2>
  </div>
  <div class="uk-modal-body">
    <p>The Dozens is a "pattern of interactive insult" evident among all classes of African Americans, among men and
      women, children and adults.[11] Usually two participants engage in banter, but always in front of others, who
      incite the participants to continue the game by making the insults worse. Frequently used topics among players
      who "play the Dozens" or are "put in the Dozens" are one's opponent's lack of intelligence, ugliness, alleged
      homosexuality, alleged incest, cowardice, poor hygiene, and exaggerations of physical defects, such as crossed
      eyes.[11]</p>
    <img alt="Origin Image" src="{% static 'assets/img-origin.png' %}" class="warp-right" />
    <p>Participants in the Dozens are required to exhibit mental acuity and proficiency with words. In his memoir
      <em> Die Nigger Die! </em> (1969), H. Rap Brown writes that the children he grew up with employed the Dozens
      to kill time and stave off boredom, in the way that whites might play Scrabble. Brown asserts playing the game
      is a form of mental exercise. Sociologist Harry Lefever states that verbal skill and wit is just as valued
      among African Americans as physical strength: <em>"Verbal facility is thus a criterion that is used to
        separate the men from the boys".</em>[3] According to author John Leland, the object of the game is to
      stupefy and daze one's opponents with swift and skillful speech. The meaning of the words, however, is lost in
      the game. The object of the game is the performance.[8]</p>
  </div>
  <div class="uk-modal-footer uk-text-center">
    <!--suppress HtmlUnknownAttribute -->
    <a href="#history-origins-modal" class="nav-bttn btn btn-danger" uk-toggle>Origins</a>
    <button class="btn btn-info nav-bttn uk-modal-close" type="button">Exit</button>
    <!--suppress HtmlUnknownAttribute -->
    <a href="#history-ref-modal" class="btn nav-bttn btn-success" uk-toggle>References</a>
  </div>
</div>
</div>

<!--suppress HtmlUnknownAttribute -->
<div id="history-ref-modal" uk-modal>
<div class="uk-modal-dialog">
  <!--suppress HtmlUnknownAttribute -->
  <button class="uk-modal-close-default" type="button" uk-close></button>
  <div class="uk-modal-header">
    <h2 class="uk-modal-title">References</h2>
  </div>
  <div class="uk-modal-body">
    <ol>
      <li>Jeffries, Stuart (June 12, 2006). "The mother of all insults". The Guardian. London.</li>
      <li>Chimezie, Amuzie (June 1976). "The Dozens: An African-Heritage Theory", Journal of Black Studies, Vol. 6,
        No. 4, pp. 401–420.</li>
      <li>Lefever, Harry (Spring 1981). "Playing the Dozens": A Mechanism for Social Control, Phylon, Vol. 42, No.
        1, pp. 73–85.</li>
      <li>Abrahams, Roger D. (July–September 1962). "Playing the Dozens". The Journal of American Folklore.
        Symposium on Obscenity in Folklore. 75 (297): 209–220. doi:10.2307/537723. JSTOR 537723.</li>
      <li>Percelay, James, Stephan Dweck, and Monteria Ivey, Snaps: The Original Yo' Mama Joke Book, William Morrow
        Paperbacks, February 18, 1994, ISBN 0688128963. Amazon.com. Retrieved May 21, 2001.</li>
      <li> Pimpdaddy's Yo Mama Snaps. Retrieved May 18, 2012.</li>
      <li>Jordan, Larry (1983). "Social Construction as Tradition: A Review and Reconceptualization of the Dozens",
        Review of Research in Education, Vol. 10, pp. 79–101.</li>
      <li>Leland, p. 173.</li>
      <li>Baraka, Amiri (1999). Blues People: Negro Music in White America. Harper Perennial. p. 27. ISBN
        978-0688184742.</li>
      <li>Saloy, Mona Lisa, "African American Oral Traditions in Louisiana", Folklife in Louisiana (1998). Retrieved
        November 12, 2009.</li>
      <li>Dollard, pp. 278–279.</li>
      <li>Dollard, p. 283.</li>
      <li>Dollard, pp. 290–294.</li>
      <li>Dundes, pp. 295–297.</li>
    </ol>
  </div>
  <div class="uk-modal-footer uk-text-center">
    <!--suppress HtmlUnknownAttribute -->
    <a href="#history-origins-modal" class="btn nav-bttn btn-primary" uk-toggle>Practice and Purpose</a>
    <button class="btn nav-bttn btn-info uk-modal-close" type="button">Exit</button>
  </div>
</div>
</div>