name: Commit Push Check
on:
  push:

env:
  DOPPLER_TOKEN: ${{ secrets.DOPPLER_TOKEN }}
  DOPPLER_PROJECT: ${{ secrets.DOPPLER_PROJECT }}
  DOPPLER_CONFIG: ${{ secrets.DOPPLER_CONFIG }}

jobs:
  setup-virtualenv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          cache: 'pip'
      
      - name: Fetch Env Vars From Doppler
        uses: dopplerhq/secrets-fetch-action@v1.1.3
        with:
          doppler-token: ${{ env.DOPPLER_TOKEN }}
          inject-env-vars: true
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/dev.txt

  linter:
    needs: setup-virtualenv
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          cache: 'pip'
          
      - name: Run linters
        run: |
          pip install black isort flake8 mypy
          isort . --diff --check-only
          black --check --diff .
          flake8 .
          mypy .

  tests:
    needs: setup-virtualenv
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          cache: 'pip'
          
      - name: Run tests
        run: |
          pip install pytest pytest-cov
          pytest --cov=./ --cov-report=xml
          
      - name: Upload coverage reports
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}